@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

:root {
  --background-color: #272d2d;
  --second-background-color: #9abd97;
  --elements-color: #b6d7b9;
  --details-color: #ca3c25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Racing Sans One", sans-serif;
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--elements-color);
  height: 100vh;
}
header {
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* .align-center {
  max-width: 1280px;
  margin: 0 auto;
} */
.align-text {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin-top: 1em;
  padding: 8px 30px;
  border-radius: 10px;
  color: #b6d7b9;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
  background-color: #2a7221;
  width: 90%;
  background-size: cover;
  font-size: 4em;
}
h3 {
  font-size: 2em;
}
.green-element {
  border-radius: 10px;
  background-color: #2a7221;
  width: 35em;
  height: 0.4em;
}

/* Medias Query */

@media screen and (max-width=1200px) {
  .align-text {
    width: 75%;
    margin: 0 auto;
  }
}
